<?xml version="1.0"?>
<model>
  <name>rmuc21_resource_island</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>

  <description>
    The Resource Island Model for RoboMaster University Championship 2021
  </description>
</model>