<?xml version='1.0'?>
<sdf version='1.7'>
    <xacro_include_definition uri="model://rmuc21_ground/model.sdf.xacro" />
    <xacro_include_definition uri="model://rmuc21_supplier/model.sdf.xacro" />
    <xacro_include_definition uri="model://rmuc21_landing_pad/model.sdf.xacro" />
    <xacro_include_definition uri="model://rmuc21_resource_island/model.sdf.xacro" />
    <xacro_include_definition uri="model://rmuc21_sentry_rail/model.sdf.xacro" />
    <!--rmuc21_battlefield-->
    <model name='rmuc21_battlefield'>
        <static>1</static>
        <!--only for visual-->
        <link name="ground_plane">
            <visual name="visual">
                <geometry>
                    <plane>
                        <normal>0 0 1</normal>
                        <size>100 100</size>
                    </plane>
                </geometry>
                <material>
                    <ambient>0.8 0.8 0.8 1</ambient>
                    <diffuse>0.8 0.8 0.8 1</diffuse>
                    <specular>0.8 0.8 0.8 1</specular>
                </material>
            </visual>
        </link>
        <!--componets of battlefield-->
        <xacro_macro name="rmuc21_ground"/>
        <xacro_macro name="rmuc21_resource_island" pose="0 0 0 0 0 0.7854"/>
        <xacro_macro name="rmuc21_supplier" prefix="red_" rgb="1 0 0" pose="-13.642 -5.750 0.1 0 0 0"/>
        <xacro_macro name="rmuc21_supplier" prefix="blue_" rgb="0 0 1" pose="13.642 5.750 0.1 0 0 3.14159"/>
        <xacro_macro name="rmuc21_landing_pad" prefix="red_" rgb="1 0 0" pose="-12.85 6.35 0.1 0 0 0" />
        <xacro_macro name="rmuc21_landing_pad" prefix="blue_" rgb="0 0 1" pose="12.85 -6.35 0.1 0 0 3.14159" />
        <xacro_macro name="rmuc21_sentry_rail" prefix="red_" pose="-8.703 0 1.445 0 0 0"/>
        <xacro_macro name="rmuc21_sentry_rail" prefix="blue_" pose="8.703 0 1.445 0 0 0"/>
    </model>
</sdf>